

#btn {
  display: block;
}

.layout--horiz p {
  display: inline;
}

.apmcHome{
  text-decoration: none;
  color: white;
}

$header-height: 80px; // Set the height of the header
$header-padding: 20px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: $header-height;
  background-color: #314731;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 $header-padding; // Add some padding to the left and right of the container
  }

  .left {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  .logo {
    height: $header-height - 20px; 
    width: $header-height - 20px; 
    overflow: hidden;
    margin-right: 10px;
  }

  .logo-img {
    height: 100%;
    width: 100%;
  }

  .company-name {
    margin: 0;
    font-size: 1.2rem;
  }

  .right {
    display: flex;
    align-items: center;
    height: 100%;
    flex:1;
    justify-content: flex-end;
  }

  .headerLinks{
    margin: 10px;
    margin-left: 3px;
    margin-right: 15px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }

  @media (max-width: 576px) {
    .container {
      padding: 0 $header-padding / 2; // Decrease the padding on smaller screens
    }

    .left {
      flex-direction: column;
      justify-content: right;
      flex: none
    } 

    .logo {
        margin-right: 0;
        height: $header-height - 10px; 
        width: $header-height - 20px; 
        overflow: hidden;
      }
    .logo-img {
        height: 100%;
        width: 100%;
      }
    .company-name {
      font-size: 0.8rem;
      margin-top: 3px;
    }

    .right {
      justify-content: right; // Align the buttons to the center on smaller screens
      flex: none; // Reset the flex value to allow the buttons to size independently
    }

    .headerLinks{
      margin: 10px;
      margin-left: 2px;
      margin-right: 10px;
      font-size: 0.8rem;
    }

}
@media (max-width : 768px) {
    
  .headerLinks{
    margin: 10px;
    margin-left: 2px;
    margin-right: 15px;
    font-size: 0.8rem;
  }
}

.material-icons-outlined{
  color: white;
}
