<header class="header">

    <div class="container">
        <div class="left">
            <div class="logo">
                <img src="../../../../assets/images/Logo.png" loading="lazy" alt="APMC Logo"
                     class="logo-img rounded-circle" />
            </div>
            <h1 class="company-name">
                <a class="apmcHome" routerLink="/home">APMC {{'home.gondal'|translate}}</a>
            </h1>
        </div>
        <div class="right">
            <div class="language-dropdown headerLinks">
                <select [(ngModel)]="selectedLanguage" (ngModelChange)="switchLanguage($event)">
                    <option selected value="en">English</option>
                    <option value="gu">ગુજરાતી</option>
                </select>
            </div>
            <span class="material-icons-outlined"> download </span>
            <a href="#" class="headerLinks">{{'home.downloadApp' | translate}}</a>
            <span class="material-icons-outlined" *ngIf="!isLoggedIn"> login </span>
            <a routerLink="login" class="headerLinks" *ngIf="!isLoggedIn">{{'home.login'|translate}}</a>
            <span class="material-icons-outlined" *ngIf="isLoggedIn"> logout </span>
            <a href="#" class="headerLinks" *ngIf="isLoggedIn" (click)="logout()">{{'home.logout'|translate}}</a>
        </div>
    </div>
</header>




