 <div class="container mt-5">

 <form [formGroup]="f" (ngSubmit)="onSubmit(f)" novalidate>
    <div class="form-group">
      <h3 class="text-center">Add New Shop</h3>
      <label for="shopNumber">Shop Number:</label>
      <input
        type="text"
        class="form-control"
        formControlName="shopNumber"
        id="shopNumber"
        name="shopNumber"
      />

      <div
        *ngIf="
          f.controls['shopNumber']?.invalid &&
          f.controls['shopNumber']?.touched &&
          f.controls['shopNumber']?.dirty
        "
        class="alert alert-danger"
      >
        Shop number should be in the format of A-12, B-123, C-16, F-37.
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="f.controls['shopNumber'].invalid"
        >
          Submit
        </button>
      </div>
      <div class="col-6">
        <button type="reset" class="btn btn-secondary btn-block">Clear</button>
      </div>
    </div>
  </form>
  
</div>