
    <div class="container">

      <form name="form" class="card bg-light mb-3" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center mb-4 card-header">Sign Up</h2>
        <div class="card-body">
              <div class="form-group">
                <label>Username:</label>
                  <input #username type="text" class="form-control" id="username" formControlName="username" >
                  <div *ngIf="signupForm.get('username')?.touched" class="error">
                      <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required</div>
                      <div *ngIf="signupForm.get('username')?.errors?.['minlength']">Username must be at least 5 characters long</div>
                      <div *ngIf="  signupForm.get('username')?.errors?.['usernameExists']" class="error">Username already exists</div>
                  </div>



              </div>

              <div class="form-group">
                <label >Password:</label>
                  <input type="password" class="form-control" id="password" formControlName="password">
                  <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="error">
                      <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>
                      <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long</div>
                  </div>
              </div>

            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
                <div class="error">
                    <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
                    <div *ngIf=" signupForm.errors && !signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.errors?.['passwordMatched']">Passwords do not match</div>
                </div>
            </div>

              <div class="form-group">
                <label >Contact:</label>
                  <input type="text" class="form-control" id="contact" formControlName="contact">
                  <div *ngIf="signupForm.get('contact')?.touched && signupForm.get('contact')?.invalid" class="error">
                      <div *ngIf="signupForm.get('contact')?.errors?.['required']">Contact is required</div>
                      <div *ngIf="signupForm.get('contact')?.errors?.['pattern']">Contact must be a valid phone number</div>
                  </div>
              </div>

              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid"><i class="fa fa-save"></i> Sign Up</button>
                <button type="reset" class="btn btn-secondary ml-2"><i class="fa fa-eraser"></i> Clear</button>
              </div>
                <span>Already a member?</span><a routerLink="/login">Login</a>
              <div class="alert alert-warning" *ngIf="isSignUpFailed">
                Signup failed! {{ errorMessage }}
              </div>
            </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
  </div>

<!--<div class="container">-->

<!--    &lt;!&ndash;      <form name="form" class="card bg-light mb-3" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>&ndash;&gt;-->
<!--<div class="card">-->
<!--    <div class="card-body">-->
<!--        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">-->
<!--            <h2 class="card bg-light mb-3">Sign Up</h2>-->
<!--            <div class="form-group">-->
<!--                <label for="username">Username</label>-->
<!--                <input type="text" class="form-control" id="username" formControlName="username">-->
<!--                <div *ngIf="signupForm.get('username')?.touched && signupForm.get('username')?.invalid" class="alert alert-danger">-->
<!--                    <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required</div>-->
<!--                    <div *ngIf="signupForm.get('username')?.errors?.['minlength']">Username must be at least 3 characters long</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="password">Password</label>-->
<!--                <input type="password" class="form-control" id="password" formControlName="password">-->
<!--                <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid" class="alert alert-danger">-->
<!--                    <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</div>-->
<!--                    <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="confirmPassword">Confirm Password</label>-->
<!--                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">-->
<!--                <div *ngIf="signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid" class="alert alert-danger">-->
<!--                    <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>-->
<!--                    <div *ngIf="signupForm.get('confirmPassword')?.hasError('mismatch')">Passwords do not match</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
<!--                <label for="contact">Contact</label>-->
<!--                <input type="text" class="form-control" id="contact" formControlName="contact">-->
<!--                <div *ngIf="signupForm.get('contact')?.touched && signupForm.get('contact')?.invalid" class="alert alert-danger">-->
<!--                    <div *ngIf="signupForm.get('contact')?.errors?.['required']">Contact is required</div>-->
<!--                    <div *ngIf="signupForm.get('contact')?.errors?.['pattern']">Contact must be a valid phone number</div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign up</button>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--</div>-->
