.form-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    margin: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
  }
  
  .form-control:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3e8e41;
  }
  