<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                  width="150px"
                  src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                  class="font-weight-bold">{{this.userName}}</span><span>
              </span></div>
      </div>
      <div class="col-md-7 border-right">
          <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Details</h4>
              </div>
              <form [formGroup]="userDetailForm" (ngSubmit)="onSubmitDetails(userDetailForm)" novalidate>
                <div class="mb-3">
                  <div class="input-group">
                    <div class="col-12 form-group">
                      <label for="fullName">Name:</label>
                      <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Full Name" />
                      <div *ngIf="userDetailForm.get('fullName')?.invalid && !userDetailForm.get('fullName')?.untouched" class="alert alert-danger">Full name is required.</div>
                    </div>
                    <div class="col-12 form-group">
                      <label for="district">District</label>
                      <select class="form-select form-control" id="district" formControlName="district" [(ngModel)]="selectedDistrict" (change)="getTalukas()">
                        <option [value]="district" *ngFor="let district of districts">{{ district }}</option>
                      </select>
                      <div *ngIf="userDetailForm.controls['district'].invalid && userDetailForm.controls['district'].touched" class="alert alert-danger">District is required.</div>
                    </div>
                    <div class="col-12 form-group">
                      <label for="taluka">Taluka</label>
                      <select class="form-select form-control" id="taluka" formControlName="taluka">
                        <option [value]="taluka" *ngFor="let taluka of talukas">{{ taluka }}</option>
                      </select>
                      <div *ngIf="userDetailForm.controls['taluka'].invalid && userDetailForm.controls['taluka'].touched" class="alert alert-danger">Taluka is required.</div>
                    </div>
                    <div class="col-12 form-group">
                      <label for="village">Village:</label>
                      <input type="text" class="form-control" id="village" formControlName="village" placeholder="Village"/>
                      <div *ngIf="userDetailForm.get('village')?.invalid && !userDetailForm.get('village')?.untouched" class="alert alert-danger">Village is required.</div>
                    </div>
                    <div class="col-12 form-group">
                      <label for="crops">Crops:</label>
                      <input type="text" class="form-control" id="crops" formControlName="crops" placeholder="Add Crops"/>
                      <div *ngIf="userDetailForm.get('crops')?.invalid && !userDetailForm.get('crops')?.untouched" class="alert alert-danger">At least one crop is required. Crops must be separated by commas.</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <button style="background-color: #325c32; color: white; "type="reset" class="btn btn-outline reset" (click)="userDetailForm.reset()">Reset</button>
                    <button style="background-color: #325c32; color: white; "type="submit" class="btn btn-outline submit" (click)="onSubmitDetails(userDetailForm)" [disabled]="userDetailForm.invalid">Submit</button>
                  </div>
                </div>
              </form>             
          </div>
      </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #325c32; color: white;">Add user details</div>
        <div class="card-body">
          <form [formGroup]="userDetailForm" (ngSubmit)="onSubmitDetails(userDetailForm)" novalidate>
            <div class="mb-3">
              <div class="input-group">
                <div class="col-12 form-group">
                  <label for="fullName">Name:</label>
                  <input type="text" class="form-control" id="fullName" formControlName="fullName" placeholder="Full Name" />
                  <div *ngIf="userDetailForm.get('fullName')?.invalid && !userDetailForm.get('fullName')?.untouched" class="alert alert-danger">Full name is required.</div>
                </div>
                <div class="col-12 form-group">
                  <label for="district">District</label>
                  <select class="form-select form-control" id="district" formControlName="district">
                    <option selected disabled>Select district</option>
                    <option [value]="district" *ngFor="let district of districts">{{ district }}</option>
                  </select>
                  <div *ngIf="userDetailForm.controls['district'].invalid && userDetailForm.controls['district'].touched" class="alert alert-danger">District is required.</div>
                </div>
                <div class="col-12 form-group">
                  <label for="taluka">Taluka</label>
                  <select class="form-select form-control" id="taluka" formControlName="taluka">
                    <option selected disabled>Select taluka</option>
                    <option [value]="taluka" *ngFor="let taluka of talukas">{{ taluka }}</option>
                  </select>
                  <div *ngIf="userDetailForm.controls['taluka'].invalid && userDetailForm.controls['taluka'].touched" class="alert alert-danger">Taluka is required.</div>
                </div>
                <div class="col-12 form-group">
                  <label for="village">Village:</label>
                  <input type="text" class="form-control" id="village" formControlName="village" placeholder="Village"/>
                  <div *ngIf="userDetailForm.get('village')?.invalid && !userDetailForm.get('village')?.untouched" class="alert alert-danger">Village is required.</div>
                </div>
                <div class="col-12 form-group">
                  <label for="crops">Crops:</label>
                  <input type="text" class="form-control" id="crops" formControlName="crops" placeholder="Add Crops"/>
                  <div *ngIf="userDetailForm.get('crops')?.invalid && !userDetailForm.get('crops')?.untouched" class="alert alert-danger">At least one crop is required. Crops must be separated by commas.</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button style="background-color: #325c32; color: white; "type="reset" class="btn btn-outline reset" (click)="userDetailForm.reset()">Reset</button>
                <button style="background-color: #325c32; color: white; "type="reset" class="btn btn-outline reset" (click)="onSubmitDetails(userDetailForm)" [disabled]="userDetailForm.invalid">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

