


<div class="container">


        <form  [formGroup]="loginForm" class="card bg-light mb-3" (ngSubmit)=onSubmit()>
            <h2 class="card-header">Login</h2>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" formControlName="username" class="form-control"/>
                    <div  *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
                        <p *ngIf="loginForm.get('username')?.errors?.['required']">Username is required</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control"/>
                    <div  *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
                        <p *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
                    </div>
                </div>
                <button  class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>

        <div>
            <div class="text-center">

                <span>Not a member? </span><a routerLink="/signup">Register</a>
                <div>
                    <span><asl-google-signin-button class="d-inline-block" theme="filled_blue" type='icon' shape="circle" size='large'></asl-google-signin-button></span>
                </div>


</div>
        </div>
</div>
