.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  