

    <div class="row">
        <div class="text-muted col-lg-8 col-md-12 col-sm-12">
                <p>Respected farmers - traders and all associated with the market yard, I heartily congratulate them.</p>

                <p>65 years of establishment of Gondal Market Yard has been completed. Then I got the opportunity to serve the farmers as Chairman in the leading market yard of Gujarat.
                I am happy and proud for that.</p>
                
                <p>Gondal Market Yard has gained even more height, traders from all over the country, multinational companies come to shop in Gondal Market Yard and through this our farmers get higher prices for their produce and increase the area and development of the market yard and farmers and traders and Tolat- With the aim of increasing the facilities of the working class, the vehicle operator class, and increasing the employment of everyone, let us work together with everyone's support and cooperation.</p>
                
                <p>Let us self-discipline the rules of cleanliness, traffic rules etc. in the market yard and increase the pride and name of our market yard Agawa Gondal Market Yard by cooperating with everyone.</p>
            
                
                <p>Alpeshbhai Dholriya
                Mr. Chairman
                Shree Khatiwadi Pradhan Bazar Samiti, Gondal</p>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="border pull-right shadow pt-2 pb-0 pl-4 pr-4" style="border: 1px solid; width: 318px;">
                            
                <img src="../../../assets/images/alpesh.jpg" class="testimonial-img" alt="" width="100%" height="auto"><br>
                <label style="color: black; font-weight: bold;">શ્રી અલ્પેશભાઈ ઢોલરીયા</label>
                </div>
        </div>
    </div>


