
<div class="container">

    <form *ngIf="!isLogIn" class="card bg-light mb-3" (ngSubmit)="f.valid && onSubmit(f)" #f="ngForm" novalidate>
        <h2 class="card-header">Login</h2>
        <div class="card-body">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" [(ngModel)]="form.username"
                required #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.errors }" />
                <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
                    Username is required!
                </div>
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password" [(ngModel)]="form.password"
                    required minlength="6" #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }" />
                <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
                    Password is required and should be at least 6 characters long.
                </div>
                <a href="#!" class="form-text">Forgot password?</a>
            </div>
            
            <button class="btn btn-primary">Login</button>
        </div>
    </form>

    
    <div >
        <div class="text-center">
            <span>Not a member? </span><a routerLink="/signup">Register</a>
            <div id="g_id_onload"
                data-client_id="238985952076-6b209kb4mvjvdqjcm1d42o1scsolf33l.apps.googleusercontent.com"
                data-callback="handleCredentialResponse"
                >
            </div>
            <div class="g_id_signin" data-type="standard"></div>
        </div>
        <!-- <div class="google">
            <p class="text-center">or sign up with:</p>
            <button type="button" class="btn btn-outline-dark padding"  (click)="signIn()">
                <img src="../../../../assets/images/googleIcon.png" alt="">
            </button>
        </div> -->




    </div>
</div>