<!-- <p>sidebar works!</p>
<ul>
    <li>Home</li>
    <li>About Us</li>
    <li>Daily Rates</li>
    <li>Slot Booking</li>
    <li>Agent</li>
    <li>Notice</li>
    <li>Contact</li>
    <li>Gallery</li>
</ul> -->

<div class="content">
    <div class="container">
      <div class="sidebar">
        <ul class="sidebar__nav">
            <li><a routerLink="/home">Home </a></li>
            <li><a routerLink="/about">About Us </a></li>
            <li><a routerLink="/dailyRates">Daily Rates </a></li>
            <li><a routerLink="/slotBooking">Slot Booking </a></li>
            <li><a routerLink="/viewSlot">View Slot </a></li>
            <li><a routerLink="/agent">Agent </a></li>
            <li><a routerLink="/notice">Notice </a></li>
            <li><a routerLink="/contact">Contact </a></li>
            <li><a routerLink="/gallery">Gallery </a></li>

        </ul>
      </div>
      <div class="main-content">
        <!-- Main content here -->
      </div>
    </div>
  </div>