.marquee{
  margin-top: 5px;
}

$carousel-height: auto;

.carousel {
  height: $carousel-height;
  overflow: hidden;

  .carousel-item {
    height: $carousel-height;
  }

  img {
    width: 100%;
    height: $carousel-height;
    object-fit: cover;
  }
}

.container{
    // padding: 100px;
    height: 300px;
    margin-top: auto;
}

.marqueeItem{
  font-weight: bold;
  margin-right: 0.8rem
}


