.container{
  margin: 50px;
}

.form-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  margin: 20px;
}

.form-group {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}
.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.btn {
  // margin-top: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

.tb{
  margin-top: 35px;
}

.open, .close{
  margin-left: 15px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: black;
}

.open:hover, .close:hover{
  color: #325c32;
  transform: scale(1.08) translateY(-2px);
}




.justify-content-around{
  margin-top: 15px;
}


.accordian{
  margin: auto;
  margin-top: 30px;
  width: 70vw;
  height: 90vh;
  overflow: auto;
  // display: inherit !important;
}

//.shopFlex{
//  display: flex;
//  align-items: end;
//}

.shopBtn{
  margin-left: 954px;
}
