<div class="container mt-5">

  <button (click)="open('shop')" class="btn btn-outline-primary btn-sm shopBtn">
    <h6>Add Shops</h6>
  </button>
  <app-modal></app-modal>

  <button (click)="open('agent')" class="btn btn-outline-primary btn-sm agentBtn">
    <h6>Add Agents</h6>
  </button>
  <app-modal></app-modal>

</div>


<div *ngIf="!modalService.showModal">
  <div class="container listContainer">
    <div class="card-body card">
      <div class="row">
        <div class="col text-center title">
          <h5>Sr. No.</h5>
        </div>
        <div class="col text-center title">
          <h5>UserName</h5>
        </div>
        <div class="col text-center title">
          <h5>Agent Name</h5>
        </div>
        <div class="col text-center title">
          <h5>Shop Number</h5>
        </div>
        <div class="col text-center title">
          <h5>Company Name</h5>
        </div>
        <div class="col text-center title">
          <h5>Contact No.</h5>
        </div>
        
      </div>
      <div
        class="card-body card bg-light mb-3"
        *ngFor="let shop of shops; let i = index"
      >
        <div class="row">
          <div class="col text-center">
            <p>{{ i + 1 }}</p>
          </div>
          <div class="col text-center">
            <p>{{ shop.user.username }}</p>
          </div>
          <div class="col text-center">
            <p>{{ shop.agentName }}</p>
          </div>
          <div class="col text-center">
            <p>{{ shop.shop.shopNo }}</p>
          </div>
          <div class="col text-center">
            <p>{{ shop.companyName }}</p>
          </div>
          <div class="col text-center">
            <p>{{ shop.contact }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>