<div class="contain-wrapp">
    <div class="container">
        <div class="row">

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/1.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/2.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/3.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/4.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/5.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/6.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/7.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/8.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/9.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/10.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/11.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/12.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/13.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/14.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/15.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/16.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/17.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/18.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../../assets/images/19.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/20.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/21.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/22.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>

            <div class="card col-xs-6 col-md-3">
                <div class="thumbnail">
                    <div class="caption" style="text-align-last: center;">
                        <img src="../../../assets/images/23.jpg" alt="" class="img-fluid"
                            style="height: 230px; object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>