
.itemBtn{
  padding: 5px 10px;
  margin-right: 4px;
  margin-bottom: 10px;
  border-color: black;
}

h6{
  margin-bottom: 0;
}


.parent {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.dateContainer{
  max-width: 30%;
  margin: 0;
  background-color: #f8f8f8;
  border-radius: 10px;
  text-align: left;
}
// form styling

.container {
  max-width:100%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-body {
  // display: flex;
  // flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.form-group {
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  transform: scale(1.05);
}

.btn-primary {
  margin-left: 1%;
  background-color: #1a381adc;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color:#1a381a9d;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #1a381adc;
}



.card-body form {
  display: flex;
  align-items: center;
}

.card-body .col-sm-1, .card-body .col-sm-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body .form-group {
  margin-bottom: 0;
}

.card-body .col-sm-offset-1 {
  margin-left: 0;
}

.card-body button[type="submit"] {
  width: auto;
}

p{
  margin: 8px 0;
}

.tick{
  margin: 8px 0;
  height: fit-content;
}

.alert{
  height: fit-content;
  padding: 2px;
  font-size: 12px;
}

.heading{
  margin-bottom: 16px;
}

a{
  color: #325c32;
}

a:hover{
  color: #325c32;
}

.cardNav{
  font-weight: 500;
}
