<div class="container my-4">
    <h2 class="text-center mb-4">Add New Item</h2>
    <form [formGroup]="itemForm" (ngSubmit)="onSubmit(itemForm)" novalidate>
      <div class="card mb-3">
        <div class="card-body p-4">
          <div class="row">
            <div class="coloumn form-group">
                <label for="itemName">Item Name:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="itemName"
                  placeholder="Item Name"/>
                <div
                  *ngIf="
                  itemForm.get('itemName')?.invalid &&
                  !itemForm.get('itemName')?.untouched"
                  class="alert alert-danger">
                  Item name is required.
                </div>
            </div>
  
            <div class="coloumn form-group">
              <label for="minPrice">Min Price:</label>
              <input
                type="text"
                class="form-control"
                formControlName="minPrice"
                placeholder="Min Price"/>
              <div
                *ngIf="
                  itemForm.get('minPrice')?.invalid &&
                  !itemForm.get('minPrice')?.untouched"
                class="alert alert-danger">
                Min Price is required.
              </div>
            </div>
  
            <div class="coloumn form-group">
              <label for="maxPrice">Max Price:</label>
              <input
                type="text"
                class="form-control"
                formControlName="maxPrice"
                placeholder="Max Price"/>
              <div
                *ngIf="
                  itemForm.get('maxPrice')?.invalid &&
                  !itemForm.get('maxPrice')?.untouched"
                class="alert alert-danger">
                Max Price is required.
              </div>
            </div>
  
            <div class="coloumn form-group">
              <label for="avgPrice">Average Price:</label>
              <input
                type="text"
                class="form-control"
                formControlName="avgPrice"
                placeholder="Average Price"/>
              <div
                *ngIf="
                  itemForm.get('avgPrice')?.invalid &&
                  !itemForm.get('avgPrice')?.untouched"
                class="alert alert-danger">
                Average Price is required.
              </div>
            </div>

            <div class="coloumn form-group">
                <label for="quantity">Quantity Sold:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="quantity"
                  placeholder="Quantity Sold"/>
                <div
                  *ngIf="
                  itemForm.get('quantity')?.invalid &&
                  !itemForm.get('quantity')?.untouched"
                  class="alert alert-danger">
                  Quantity is required.
                </div>
              </div>

              <div class="coloumn form-group">
                <label for="income">Income:</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="income"
                  placeholder="Income"/>
                <div
                  *ngIf="
                  itemForm.get('income')?.invalid &&
                  !itemForm.get('income')?.untouched"
                  class="alert alert-danger">
                  Income is required.
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <div class="d-flex align-items-center">
          <button type="reset" class="btn btn-outline-danger btn-sm">Reset</button>
          <button type="submit" class="btn btn-outline-primary btn-sm" [disabled]="itemForm.invalid">Add Item</button>
        </div>        
      </div>
    </form>
  </div>
