// modal panel button styling 
.itemBtn{
  padding: 5px 10px;
  margin-right: 4px;
}

h6{
  margin-bottom: 0px;
}

// form styling

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-body {
  // display: flex;
  // flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.form-group {
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button:hover {
  transform: scale(1.05);
}

.btn-primary {
  margin-left: 1%;
  background-color: #007bff;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0d8bf2;
}

.btn-danger {
  margin-top: 1%;
  margin-left: 1%;
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.card-body form {
  display: flex;
  align-items: center;
}

.card-body .col-sm-1, .card-body .col-sm-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-body .form-group {
  margin-bottom: 0;
}

.card-body .col-sm-offset-1 {
  margin-left: 0;
}

.card-body button[type="submit"] {
  width: auto;
}

p{
  margin: 8px 0px;
}

.tick{
  margin: 8px 0px;
  height: fit-content;
}

.alert{
  height: fit-content;
  padding: 2px;
  font-size: 12px;
}

.heading{
  margin-bottom: 16px;
}