<!--<div class="parent">-->
<!--    <div class="dateContainer mt-5">-->
<!--        <div class="input-group" (click)="dp.toggle()" >-->
<!--            <input type="text" class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date" ngbDatepicker-->
<!--                #dp="ngbDatepicker" (dateSelect)="onDateSelect(dp)" [autoClose]="true"/>-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-outline-secondary" type="button">-->
<!--                    <i class="bi bi-calendar"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<mat-form-field class="example-full-width" appearance="fill">-->
<!--    <mat-label>Choose a date</mat-label>-->
<!--    <input matInput [matDatepicker]="picker" (dateChange)="onDateSelect($event.value)">-->
<!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--    <mat-datepicker-toggle matIconSuffix [for]="picker">-->
<!--        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--    </mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->

<div class="parent">
    <div class="dateContainer mt-5">
    <form class="row row-cols-sm-auto">
        <div class="col-12">
            <div class="input-group">
                <input
                        class="form-control"
                        placeholder="dd/mm/yyyy"
                        name="d2"
                        #c2="ngModel"
                        [(ngModel)]="model2"
                        ngbDatepicker
                        (ngModelChange)="onDateSelect(d2)"
                        #d2="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
        </div>
    </form>
    </div>
</div>


<!-- <div class="container mt-5 navContainer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="row w-100">
            <div class="col-md-4 text-center">
              <a class="navbar-brand nav-link" style="cursor: pointer;" (click)="showContainer(1)">Commodities</a>
            </div>
            <div class="col-md-4 text-center">
              <a class="navbar-brand nav-link" style="cursor: pointer;" (click)="showContainer(2)">Vegetables</a>
            </div>
            <div class="col-md-4 text-center">
              <a class="navbar-brand nav-link" style="cursor: pointer;" (click)="showContainer(3)">Fruit</a>
            </div>
          </div>
        </div>
    </nav> -->
<!--<mat-tab-group (selectedTabChange)="showContainer($event.index)">-->
<!--    <mat-tab label="{{itemType['itemTypeName']}}" *ngFor="let itemType of itemTypes; let i= index "  style="cursor: pointer">-->
<!--    </mat-tab>-->
<!-- </mat-tab-group>-->


<!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row w-100" *ngFor="let itemType of itemTypes;">-->
<!--            <div class="col-md-4 text-center">-->
<!--                <a class="navbar-brand nav-link" style="cursor: pointer" [ngClass]="" (click)="showContainer(itemType['itemTypeId'])">{{ itemType['itemTypeName']}}</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
    <li ngbNavItem *ngFor="let itemType of itemTypes; let i= index ">
        <a ngbNavLink (click)="showContainer(i)">{{itemType['itemTypeName']}}</a>
    </li>
</ul>


<!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->




    <div class="container">
        <input type="text" *ngIf="activateSearch" [(ngModel)]="searchQuery" placeholder="Search..." class="searchBar">
        <div class="card-body card">
            <table class="text-center">
                <div class="row">
                    <div class="col text-center title">
                        <h6>Sr. No.</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Item Name</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Min Price</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Max Price</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Average Price</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Quantity</h6>
                    </div>
                    <div class="col text-center title">
                        <h6>Quantity(quintel)</h6>
                    </div>
                </div>
                <div class="card-body card bg-light mb-3" *ngFor="let item of itemList | filter:searchQuery ; let i = index ">
                    <div class="row">
                        <div class="col text-center">
                            <p>{{ i + 1 }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['item']['itemName'] }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['minPrice'] }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['maxPrice'] }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['avgPrice'] }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['quantity'] }}</p>
                        </div>
                        <div class="col text-center">
                            <p>{{ item['quantity']/2 }}</p>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>

