<!--Date picker for selecting date to see Daily Rates-->
    <div class="dateContainer mt-5">
    <form>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="input-group">
                <input
                        class="form-control"
                        placeholder="dd/mm/yyyy"
                        name="d2"
                        #c2="ngModel"
                        [(ngModel)]="model2"
                        ngbDatepicker
                        (ngModelChange)="onDateSelect(d2)"
                        #d2="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
        </div>
    </form>
    </div>



<!--<mat-tab-group (selectedTabChange)="showContainer($event.index)">-->
<!--    <mat-tab label="{{itemType['itemTypeName']}}" *ngFor="let itemType of itemTypes; let i= index "  style="cursor: pointer">-->
<!--    </mat-tab>-->
<!-- </mat-tab-group>-->



<!--Navbar for changing tabs based on itemTypes-->
<div class="col-lg-12 col-md-12 col-sm-6">
<ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="active">
    <li [ngbNavItem]="i" *ngFor="let itemType of itemTypes; let i= index ">
        <a ngbNavLink (click)="showContainer(i)">{{itemType['itemTypeName']}}</a>
    </li>
</ul>
</div>

<!--<div [ngbNavOutlet]="nav" class="mt-2"></div>-->




<!--    <div class="container">-->
<!--        <input type="text" *ngIf="activateSearch" [(ngModel)]="searchQuery" placeholder="Search..." class="searchBar">-->
<!--        <div class="card-body card">-->
<!--            <table class="text-center">-->
<!--                <div class="row">-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Sr. No.</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Item Name</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Min Price</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Max Price</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Average Price</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Quantity</h6>-->
<!--                    </div>-->
<!--                    <div class="col text-center title">-->
<!--                        <h6>Quantity(quintel)</h6>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-body card bg-light mb-3" *ngFor="let item of itemList | filter:searchQuery ; let i = index ">-->
<!--                    <div class="row">-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ i + 1 }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['item']['itemName'] }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['minPrice'] }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['maxPrice'] }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['avgPrice'] }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['quantity'] }}</p>-->
<!--                        </div>-->
<!--                        <div class="col text-center">-->
<!--                            <p>{{ item['quantity']/2 }}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->

<!--Table of DailyRates-->

<table datatable [dtOptions]="dtOptions" class="table table-striped" style="background-color: white">
    <thead>
    <tr>
        <th scope="col">Item name</th>
        <th scope="col">Min Price</th>
        <th scope="col">Max Price</th>
        <th scope="col">Average Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Quantity(quintel)</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of itemList; let i = index">
        <td>{{ item['item']['itemName'] }}</td>
        <td>{{ item['minPrice'] }}</td>
        <td>{{ item['maxPrice'] }}</td>
        <td>{{ item['avgPrice'] }}</td>
        <td>{{ item['quantity'] }}</td>
        <td>{{ item['quantity']/2 }}</td>
    </tr>
    </tbody>
</table>
