<header class="header">
  <div class="container">
    <div class="header__left">
      <div class="header__logo">
        <img
          src="../../../../assets/images/123.png"
          loading="lazy"
          style="margin-top: -1px;"
          alt="APMC Logo"
          class="header__logo-img rounded-circle"
        />
      </div>
      <h1 class="header__company-name"><a class="apmcHome" routerLink="/home">APMC Gondal</a></h1>
    </div>
    <div class="header__right">
      <a href="#" class="header__headerLinks">Download App</a>
      <a href="#" class="header__headerLinks">Log Out</a>
    </div>
  </div>
</header>






<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container">
      
      <a class="navbar-brand me-2">
        <img
          src="../../../../assets/images/123.png"
          height="50"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a> -->

      <!-- <div class="collapse navbar-collapse" id="navbarButtonsExample"> -->
        <!-- <div> -->
        <!-- Left links -->
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">APMC Gondal</a>
          </li>
        </ul>
      </div> -->

      <!-- <div class="d-flex align-items-center"> -->
        <!-- <div>
          <a class="text-reset me-3" href="#">
            Download App
          </a>
      </div> -->
      <!-- <div class="d-flex align-items-center"> -->
        <!-- <div>
        <a class="text-reset me-3" href="#">
            Log Out
        </a>
    </div> -->
    
    <!-- </div>
  </nav>
   -->

