$header-height: 80px; // Set the height of the header
$header-padding: 20px;
.header {

  height: $header-height;
  background-color: #325c32;
  border-bottom: 1px solid #ccc;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px; // Add some padding to the left and right of the container
  }

  &__left {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  &__logo {
    height: $header-height - 20px; // Subtract some padding from the height of the logo container
    width: $header-height - 20px; // Subtract some padding from the width of the logo container
    overflow: hidden;
    margin-right: 10px; // Add some space between the logo and the company name
  }

  &__logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__company-name {

    margin: 0;
    font-size: 1.2rem;
    color: white;
  }

  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    flex:1;
    justify-content: flex-end;
  }

  &__headerLinks{
    margin: 10px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
  }

@media (max-width: 576px) {
    .container {
      padding: 0 $header-padding / 2; // Decrease the padding on smaller screens
    }

    &__left {
      flex-direction: column; // Stack the elements on smaller screens
      justify-content: center;
      flex: none; // Reset the flex value to allow the logo and company name to size independently

      &__logo {
        margin-right: 0; // Remove the margin on smaller screens
        margin-bottom: 10px; // Add some space between the logo and the company name
      }
    }
    &__company-name {
        font-size: 1rem; // Decrease the font size on smaller screens
      }
  
      &__right {
        justify-content: center; // Align the buttons to the center on smaller screens
        flex: none; // Reset the flex value to allow the buttons to size independently
      }
    }
    
}

.apmcHome{
    text-decoration: none; 
    color: white;
}

