<!-- <footer id="footer">
    <div class="footer-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5>Other Useful Links</h5>
                    <div class="foot-menu">
                        <ul>
                            <li><a href="#" class="L-Affiliate-Tagged">Agri Gujarat </a></li>
                            <li><a href="#" class="L-Affiliate-Tagged">Guj State Wide Area Network </a></li>
                            <li><a href="#" class="L-Affiliate-Tagged">Vibrant Gujarat</a></li>
                            <li><a href="#" class="L-Affiliate-Tagged">Soil Health Card</a></li>
                            <li><a href="#" class="L-Affiliate-Tagged">Agriculture &amp; Processed Food <br>Products Export Development Authority </a></li>
                            <li><a href="#" class="L-Affiliate-Tagged">National Seeds Corporation Ltd </a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h5>Quick Contacts</h5>
                    <div class="contacts">
                        <i class="fa fa-phone"></i>
                        <span>General Lines:</span><br>
                        (0281) 2790001, 2790002, 2790003
                    </div>
                    <div class="contacts">
                        <i class="fa fa-phone"></i>
                        <span>Vegetable Department:</span><br>
                        (0281) 2703300
                    </div>
                    <div class="contacts">
                        <i class="fa fa-envelope"></i>
                        (1) apmcrajkot14@gmail.com<br>(2) info@apmcrajkot.com
                    </div><br>

                </div>
                <div class="col-sm-4">
                    <h5>Wesite (Other useful links)</h5>
                    <div class="foot-menu">
                        <ul>
                            <li><a href="https://ikhedut.gujarat.gov.in/" target="_blank" class="L-Affiliate-Tagged">ikhedut.gujarat.gov.in</a></li>
                            <li><a href="http://agricoop.nic.in" target="_blank" class="L-Affiliate-Tagged">agricoop.nic.in</a></li>
                            <li><a href="https://agri.gujarat.gov.in/" target="_blank" class="L-Affiliate-Tagged">agri.gujarat.gov.in</a></li>
                            <li><a href="https://mausam.imd.gov.in/" target="_blank" class="L-Affiliate-Tagged">mausam.imd.gov.in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                
                <div class="col-sm-4">
                    <div class="copyright">
                        <p>Copyright © 2023 All Rights Reserved.  </p>
                        <p>Managed By : <a href="http://thefreebirdtech.com/" class="L-Affiliate-Tagged">Freebird App Studio LLP</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->










<footer class="footer">
    <div class="container">
      <div class="footer__left">
        Footer content on the left
      </div>
      <div class="footer__right">
        Footer content on the right
      </div>
    </div>
  </footer>
  