<div *ngIf="isLogIn">
    <div class="container">Hello</div>
    <div class="container">Name : {{userInfo?.info?.name}}</div>
    <div class="container">E-mail : {{userInfo?.info?.email}}</div>
    <div class="container"><img src= "{{userInfo?.info?.picture}}"></div>
    <div class="container">
        <button (click)="logout()">Logout</button>
    </div>
</div>



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2">
        <img
          src="../../../../assets/images/123.png"
          height="50"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">APMC Gondal  </a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
            <div *ngIf="!isLogIn" >
                <button class="btn  px-3 me-2"  (click)="logIn()">Login</button>
            </div>
          <button type="button" class="btn me-3">
            Sign up 
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->