<app-header></app-header>

    <div class="row">
      <div class="col-md-2" >
          <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-10">
        <div class="marquee">
          <marquee behavior="scroll">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae distinctio rem, dolorem ea sed et, explicabo modi temporibus assumenda iusto repellendus iure nobis commodi? Facere velit vero, nam earum labore iste ea odio.</marquee>
          <marquee >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae distinctio rem, dolorem ea sed et, explicabo modi temporibus assumenda iusto repellendus iure nobis commodi? Facere velit vero, nam earum labore iste ea odio.</marquee>
          <marquee >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quae distinctio rem, dolorem ea sed et, explicabo modi temporibus assumenda iusto repellendus iure nobis commodi? Facere velit vero, nam earum labore iste ea odio.</marquee>  
        </div>
        <router-outlet></router-outlet>

      </div>
    </div>


  
