.container {
  margin-top: 70px;
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}

.col-md-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

.marquee {
  padding-top: 10px;
}

@media (max-width: 767.98px) {
  .col-md-2 {
    display: none;
  }
  
  .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
