
// .margin-extra{
//   margin-top: 80px;
//   justify-content: center;
// }

.margin-router{
  margin-top: 80px;
}

@media (max-width: 576px) {
  // .margin-extra{
  //   margin-top: 80px;
  //   justify-content: center;
  //   max-height: 50px;
  // }

  // .bg-color{
  //   background-color:#2c2e2cdc;
  // }
  
}

// .bg-color{
//   background-color:#1a381adc;
// }

// .container{
//   margin: 0px auto;
// }



.content {
  margin-left: 50px;
  transition: 0.3s;
  &.sidebarExpanded {
    margin-left: 160px;
  }
}
